.particles-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

.particles-container canvas {
	display: block;
	width: 100% !important;
	height: 100% !important;
}
